@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html,
body {
  font-family: 'DM Sans', sans-serif;
}
.basic-st-1 {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
/* NAV */
.nav {
  background-color: #171718;
  color: white;
  padding: 20px 0;
  border-bottom: 1px solid #26292d;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.nav-logo {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
.nav-logo a {
  color: white;
}
.nav-logo strong {
  font-weight: 700;
}
.nav-menu {
  font-family: 'Poppins', sans-serif;
  display: flex;
  column-gap: 40px;
}
.nav-menu__link {
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: 0.2s ease-in;
}
.nav-menu__link:hover {
  opacity: 0.8;
}
.nav-menu__link:hover {
  position: relative;
  top: 1px;
}
.nav-menu__item :hover {
  border-bottom: 3px solid #5c62ec;
  transition: 0.2s;
}
.header {
  background-color: #171718;
}
/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 695px;
  padding: 40px 0;
  background-color: #171718;
  color: white;
  text-align: center;
}
.header-img {
  position: absolute;
  animation-name: rotate-animation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-block {
  position: absolute;
  max-width: 630px;
}
.header-title strong {
  font-size: 60px;
  font-weight: 700;
}
.header-title p {
  font-size: 40px;
}
.header-title i {
  color: #5c62ec;
}
.header-text p {
  font-size: 20px;
  padding: 20px 110px;
}
.header-text p + p {
  margin-top: 1em;
}
.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: #5c62ec;
  color: white;
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  position: relative;
  top: 1px;
}
